name: Update deployment ref number

on: [push]

jobs:
  update-deployment:
    runs-on: ubuntu-latest

    steps:
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.GIT_HUB_TOKEN }}
          repository: worldcoin/mpc-uniqueness-check-deploy
          event-type: update-ref
          client-payload: |
            {
              "sha": "${{ github.sha }}",
              "ref": "${{ github.ref }}",
              "ref_name": "${{ github.ref_name }}",
              "ref_type": "${{ github.ref_type }}",
              "repository": "${{ github.repository }}"
            }
